{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OLIMPIAGYM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>   
        <div class="logo-container">
            <a href="/mainpage">
                <img width="100px" height="auto" src="{% static 'gymsite/images/logo.png' %}" alt="logo"/>
                <p><strong>OLIMPIA GYM</strong></p>
            </a>
        </div>

        <form id="loginForm" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Нікнейм" required> 
            </div>
        
            <div>
                <input type="password"  name="password" placeholder="Пароль" required>
            </div>

            {{form.errors}}

            <div class="button-container">
                <button type="submit">Увійти</button>
            </div>

            <div class="link-container">
                <a href="{% url 'users:register' %}" class="login">Зареєструватися</a>
                <a href="{% url 'users:password_reset' %}" class="login">Забули пароль ?</a>
            </div>
        </form>
    </body>
</html>