{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OLIMPIAGYM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
       <header>
        <h1>Місце для даних користувача</h1>
        <h3>Місце для даних про абонемент</h3>
        <button type="submit" class="logout">Вийти</button>

        <div id="icon">
            <a href="#"><img width="20px" height="20px" src="{% static "users/images/edit.png" %}"></a>
        </div>
       </header>

       <div class="main">
        <div class="head">
            <nav>
                <a href="/users/account"><h4>План тренувань</h4></a>
                <a href="#"><h4>Онлайн тренування</h4></a>
            </nav>
        </div>

        <div class="create-p">
            <button type="submit">Створити план</button>
        </div>
       </div>
    </body>
</html>