{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OLIMPIAGYM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
        <div class="exercise-header">
            <nav>
                <a href="/users/exercises"><h4>Вибрати вправи</h4></a>
                <a href="/users/edit_plan"><h4>Ваш план</h4></a>
                <a href="/users/account"><h4>Особистий кабінет</h4></a>
            </nav>
        </div>
    </body>
</html>