{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OLIMPIAGYM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
        <div class="exercise-header">
            <nav>
                <a href="/users/exercises"><h4>Вибрати вправи</h4></a>
                <a href="/users/edit_plan"><h4>Ваш план</h4></a>
                <a href="/users/account"><h4>Особистий кабінет</h4></a>
            </nav>
        </div>
        <div class="container">
            <div class="filter">
                <h3>Тип обладнення</h3>
                <label><input type="checkbox" id="equipment" name="equipment" value="equipment"> <h4>З обладненням</h4></label>
                <label><input type="checkbox" id="no_equipment" name="equipment" value="no_equipment"> <h4>Без обладнення</h4></label>

                <h3>Тип вправи</h3>
                <label><input type="checkbox" id="legs" name="exercise" value="legs"> <h4>Для ніг</h4></label>
                <label><input type="checkbox" id="arms" name="exercise" value="arms"> <h4>Для рук</h4></label>
                <label><input type="checkbox" id="back" name="exercise" value="back"> <h4>Для спини</h4></label>
                <label><input type="checkbox" id="abs" name="exercise" value="abs"> <h4>Прес</h4></label>
                <label><input type="checkbox" id="shoulders" name="exercise" value="shoulders"> <h4>Для плечей</h4></label>
                <label><input type="checkbox" id="chest" name="exercise" value="chest"> <h4>Для грудей</h4></label>
            </div>

            <div class="exercise">
                {% for item in items %}
                <div class="back">
                    <div class="content-wrapper">
                        <div class="icon">
                            <img src="{{item.icon.url}}" width="50px" height="45px">
                        </div>
                        <div class="image">
                            <img src="{{item.image.url}}" width="250px" height="150px">
                        </div>
                        <div class="text">
                            <h2>{{item.description}}</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>