{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">


{% if validlink %}
    <div class="center">
        <h2>Заміна паролю</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="email">
            <input type="password" name="new_password1" placeholder="Пароль" required>
        </div>
    
        <div class="email">
           <input type="password" name="new_password2" placeholder="Підтвердіть пароль" required>
        </div>
        <div class="button-container">
            <button type="submit">Змінити пароль</button>
        </div>
    </form>
{% else %}
    <div class="center">
        <p>Посилання для зміни пароля було недійсним, можливо, тому, що воно вже було використано.
            Будь ласка, надішліть запит на скидання нового пароля.
        </p>
    </div>
{% endif %}