body {
    background-color: #121212;
    color: white;
}

/* Register and Login */

#registrationForm, .logo-container p, #loginForm {
    text-align: center; 
}

#registrationForm div, #loginForm div {
    margin-bottom: 15px; 
}

.logo-container img {
    margin-bottom: 10px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.logo-container a {
    text-decoration: none;
    color: white;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.link-container {
    text-align: center;
}

input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 300px; 
        padding: 10px; 
        border-radius: 10px; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    }

    
    button[type="submit"] {
        padding: 10px 20px; 
        border-radius: 10px; 
        border: none; 
        background-color: #ff6600; 
        color: #fff; 
        cursor: pointer; 
    }

    button[type="submit"]:hover {
        background-color: #bf530a; 
    }

a.login {
    color:#ff6600;
    text-decoration: none;
    padding: 25px;
}

a.login:hover {
    color:#bf530a;
}

/* Change Password */

.center h2, .center {
    text-align: center;
    margin-top: 50px;
}

.center a {
    color:#ff6600;
    text-decoration: none;
}

.email {
    text-align: center;
    margin: 25px;
}

/* Account */

header {
    position: relative;
    background-color: white;
    color: black !important;
    padding: 15px;
    border-radius: 10px;
}

header h3 {
    color: darkgray;
}

.logout {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: black !important; 
}

.main {
    background-color: white;
    color: black !important;
    padding: 15px;
    margin-top: 55px;
    border-radius: 10px;
}

.head a {
    color: black;
    text-decoration: none;
    margin: 0 10px; 
}

.head a:hover, .exercise-header nav a:hover {
    color:#ff6600;
}

.head nav {
    display: flex;
    align-items: center; 
}

.head {
    border-bottom: 1px solid #979696; 
}

.create-p {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.create-p button {
    background-color: black !important;
    margin: 100px;
}

button a {
    color: white;
    text-decoration: none;
}

/* Exercises page */

.exercise-header nav {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    border-bottom: 2px solid white; 
}

.exercise-header nav a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
}

.container {
    display: flex;
}

.filter {
    flex: 0 0 200px;
    height: 400px; 
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin: 30px;
}

.filter h3 {
    color: #000000;
    margin-bottom: 15px;
    border-bottom: 1px solid black; 
}

.filter h4 {
    color: #000000;
    margin: 0;
}

.filter label {
    display: flex;
    align-items: center;
}
.filter input[type="checkbox"] {
    margin-right: 10px;
}

.exercise {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.back {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin: 20px;
    width: calc(70% - 40px);
}

.sortable .back {
    width: calc(90% - 40px);
}

.back p {
    color: black;
}

.image {
    margin-right: 20px; 
}

.text {
    flex: 1; 
    color: black;
}

/* Edit plan page */

.data .button-container {
    text-align: left !important;
    padding: 10px;
}

.data input[type="text"] {
    border: 1px solid #000000; 
    margin: 10px; 
    padding: 8px; 
    width: calc(100% - 42px); 
}

.data div {
    margin: 10px;
    padding: 15px;
}

.data {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto 20px 30px;
    display: flex;
    justify-content: flex-start;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.remove-exercise {
    background-color: black; 
    color: white;            
    border: none;            
    border-radius: 5px;      
    padding: 10px 20px;      
    cursor: pointer;         
}

.quantity-input {
    width: 60px; 
    padding: 5px 10px; 
    margin: 10px 0; 
    border: 2px solid black; 
    border-radius: 5px; 
    background-color: black; 
    color: white;
    font-size: 16px; 
    text-align: center; 
    -moz-appearance: textfield; 
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

.quantity-input:focus {
    outline: none; 
    border-color: #555; 
}





