body {
    background-color: #121212;
    color: white;
}

/* Register and Login */

#registrationForm, .logo-container p, #loginForm {
    text-align: center; 
}

#registrationForm div, #loginForm div {
    margin-bottom: 0.9375rem; 
}

.logo-container img {
    margin-bottom: 0.625rem; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.logo-container a {
    text-decoration: none;
    color: white;
}

.button-container {
    text-align: center;
    margin-bottom: 1.25rem; 
}

.link-container {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 18.75rem; 
    padding: 0.625rem; 
    border-radius: 0.625rem; 
    border: 0.0625rem solid #ccc; 
    box-sizing: border-box; 
}

button[type="submit"] {
    padding: 0.625rem 1.25rem; 
    border-radius: 0.625rem; 
    border: none; 
    background-color: #ff6600; 
    color: #fff; 
    cursor: pointer; 
}

button[type="submit"]:hover {
    background-color: #bf530a; 
}

a.login {
    color:#ff6600;
    text-decoration: none;
    padding: 1.5625rem; 
}

a.login:hover {
    color:#bf530a;
}

/* Change Password */

.center h2, .center {
    text-align: center;
    margin-top: 3.125rem; 
}

.center a {
    color:#ff6600;
    text-decoration: none;
}

.email {
    text-align: center;
    margin: 1.5625rem; 
}

/* Account */

header {
    position: relative;
    background-color: white;
    color: black !important;
    padding: 0.9375rem; 
    border-radius: 0.625rem; 
}

header h3 {
    color: darkgray;
}

.logout {
    position: absolute;
    bottom: 0.625rem; 
    right: 0.9375rem; 
    background-color: black !important; 
}

.main {
    background-color: white;
    color: black !important;
    padding: 0.9375rem; 
    margin-top: 3.4375rem; 
    border-radius: 0.625rem; 
}

.head a {
    color: black;
    text-decoration: none;
    margin: 0 0.625rem; 
}

.head a:hover, .exercise-header nav a:hover {
    color:#ff6600;
}

.head nav {
    display: flex;
    align-items: center; 
}

.head {
    border-bottom: 0.0625rem solid #979696; 
}

.create-p {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    margin-top: 1.25rem; 
}

.create-plan-btn {
    background-color: black; 
    color: white; 
    padding: 0.625rem 1.25rem; 
    border-radius: 0.625rem; 
    border: none;
    align-self: center; 
    width: auto; 
    margin-top: 1.25rem; 
    text-decoration: none; 
}

button a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .create-p {
        flex-direction: column;
        align-items: center; 
    }
    .plan {
        width: 80%; 
        margin-bottom: 1rem; 
        text-align: center; 
    }
}

/* Exercises page */

.exercise-header nav {
    display: flex; 
    justify-content: center; 
    margin-top: 1.25rem; 
    border-bottom: 0.125rem solid white; 
}

.exercise-header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1.875rem; 
}

.container {
    display: flex;
}

.filter {
    flex: 0 0 12.5rem; 
    height: 25rem; 
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 0.625rem; 
    padding: 1.25rem; 
    margin-bottom: 1.25rem; 
    margin: 1.875rem; 
}

.filter h3 {
    color: #000000;
    margin-bottom: 0.9375rem; 
    border-bottom: 0.0625rem solid black; 
}

.filter h4 {
    color: #000000;
    margin: 0;
}

.filter label {
    display: flex;
    align-items: center;
}

.filter input[type="checkbox"] {
    margin-right: 0.625rem; 
}

.exercise {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    margin: 0.625rem; 
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.back {
    background-color: white;
    border-radius: 0.625rem; 
    padding: 1.25rem; 
    margin-bottom: 1.25rem; 
    margin-right: 1.25rem; 
    margin: 1.25rem; 
    width: calc(100% - 2.5rem); 
}

.sortable .back {
    width: calc(90% - 2.5rem); 
}

.back p {
    color: black;
}

.image {
    margin-right: 1.25rem; 
}

.text {
    flex: 1; 
    color: black;
}

@media screen and (max-width: 768px) {
    .exercise-header nav {
        flex-direction: row; 
        justify-content: center; 
        gap: 1rem; 
        border-bottom: none;
        font-size: 0.9rem; 
    }

    .exercise-header nav a {
        margin: 0; 
        padding: 0.5rem; 
    }

    .container {
        flex-direction: column;
        align-items: center; 
    }

    .filter {
        flex: 0 0 auto;
        width: calc(100% - 3.75rem);
        margin: 0.9375rem 0;
        height: 17.5rem; 
    }

    .image {
        margin-right: 0;
        margin-bottom: 0.625rem; 
    }

    .image img {
        width: 100%; 
        height: auto; 
        max-width: 10.5rem; 
        max-height: 4.5rem; 
    }

    .icon img {
        width: 2.5rem;  
        height: 2.25rem; 
    }

    .text h2 {
        font-size: 1rem; 
    }
}

/* Edit plan page */

.data .button-container {
    text-align: left !important;
    padding: 0.625rem; 
}

.data input[type="text"] {
    border: 0.0625rem solid #000000; 
    margin: 0.625rem; 
    padding: 0.5rem; 
    width: calc(100% - 2.625rem); 
}

.data div {
    margin: 0.625rem; 
    padding: 0.9375rem; 
}

.data {
    background-color: white;
    border-radius: 0.625rem; 
    width: 50%;
    margin: 1.25rem auto 1.25rem 1.875rem; 
    display: flex;
    justify-content: flex-start;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.remove-exercise {
    background-color: black; 
    color: white;            
    border: none;            
    border-radius: 0.3125rem; 
    padding: 0.625rem 1.25rem; 
    cursor: pointer;         
}

.quantity-input {
    width: 3.75rem; 
    padding: 0.3125rem 0.625rem; 
    margin: 0.625rem 0; 
    border: 0.125rem solid black;
    border-radius: 0.3125rem; 
    background-color: black; 
    color: white !important;
    font-size: 1rem; 
    text-align: center; 
    -moz-appearance: textfield; 
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

.quantity-input:focus {
    outline: none; 
    border-color: #555; 
}

@media (max-width: 768px) {
    .data {
        width: 100%;
        margin: 1.25rem auto; 
        flex-direction: column;
        align-items: flex-start;
    }

    .data input[type="text"] {
        width: calc(60% - 1.25rem); 
    }

    .remove-exercise {
        background-color: black; 
        color: white;            
        border: none;            
        border-radius: 0.3125rem; 
        padding: 0.3125rem 0.625rem; 
        cursor: pointer;
        font-size: 0.75rem; 
    }

    .quantity-input {
        width: 1.5rem; 
        height: 1.15rem; 
        padding: 0.02rem 0.6rem; 
        margin-top: 0;
        padding-top: 0;
        font-size: 0.8rem; 
        /* color: white; */
    }
}

/* Plan List */

.plan {
    background-color: #52575D; 
    color: white; 
    border-radius: 0.625rem; 
    padding: 0.625rem; 
    width: 40%; 
    align-self: flex-start;
    margin: 0.9375rem; 
    position: relative; 
}

.plan-content {
    width: 100%; 
    margin-bottom: 0.625rem; 
}

.plan-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.plan .but {
    background-color: white;
    color: black;
    border-radius: 0.625rem; 
    border: none;
    padding: 0.625rem 1.25rem; 
}

.plan .but a {
    color: black;
    text-decoration: none;
}

.delete-p {
    position: absolute; 
    top: 0.625rem; 
    right: 0.625rem; 
    z-index: 2; 
}

.delete-p img {
    cursor: pointer;
    display: block;
}

@media only screen and (max-width: 768px) {
    .plan {
        width: auto; 
        align-self: auto; 
        margin: 0 auto; 
        margin-bottom: 1rem;
    }
}
