{% extends "gymsite/base.html" %}
{% load static %}

{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OLIMPIAGYM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'gymsite/style_coach.css' %}">
        <link rel="stylesheet" href="{% static 'gymsite/base.css' %}">
        <link rel="stylesheet" href="{% static 'gymsite/style_gridblock.css' %}">
    </head>
    <body>
        <div class="tren-info">
            <div class="text">
                <p>Відданий і досвідчений тренер<br> 
                    За роки своєї практики він зарекомендував себе як<br>  
                    професіонал у своїй справі. Завдяки своєму терплячому<br>  
                    та доброзичливому підходу, він вміє <strong>мотивувати</strong> своїх<br>  
                    підопічних до досягнення максимальних результатів.</p>

                <p>Богдан має глибокі знання в області тренування та<br> 
                    розвитку спортивних навичок. Він вміло створює<br> 
                    <strong>індивідуальні програми</strong> тренувань, враховуючи<br> 
                    особливості та потреби кожного спортсмена.<br> 
                    Його методичний підхід базується на <strong>наукових принципах</strong><br> 
                    та <strong>кращих практиках</strong> в галузі тренування.</p>
            </div>

            <img width = "300px" height = "400px" src="{% static "gymsite/images/trainer2.jpg" %}">
        </div>

        <div class="achive">
            <div class="text">
                <h1>Сертифікати</h1>
                <ul>
                    <li>Завершині курси тренерської підготовки</li>
                    <li>міжнародний сертифікат REPS</li>
                    <li>Персональний тренер</li>
                    <li>Груповий тренінг</li>
                </ul>
            </div>
        </div>

        <div class="features">
            <h1>Займається</h1>
            <div class="container">
                <div class="text">
                    <img width="100px" height="auto" src="{% static "gymsite/images/group_t.png" %}">
                    <span>Групові тренування</span>
                </div>

                <div class="text">
                    <img width="100px" height="auto" src="{% static "gymsite/images/shield.png" %}">
                    <span>Персональні тренування</span>
                </div>

                <div class="text">
                    <img width="100px" height="auto" src="{% static "gymsite/images/boxing.png" %}">
                    <span>Бокс</span>
                </div>

                <div class="text">
                    <img width="100px" height="auto" src="{% static "gymsite/images/stretching.png" %}">
                    <span>Стретчинг</span>
                </div>

                <div class="text">
                    <img width="100px" height="auto" src="{% static "gymsite/images/plan.png" %}">
                    <span>Індивідуальний план</span>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}