/** Article **/

.artcl a {
    text-decoration: none;
    color: white;
}

.artcl a:hover {
    color: #ff6600; 
}

.article-link {
    display: block;
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    align-items: center;
    margin: 1.25rem; 
}

.back {
    background-color: white;
    padding-top: 0.0625rem; 
    padding-bottom: 0.0625rem; 
    margin: 1.25rem;
}

.image {
    margin-right: 1.25rem; 
}

.text {
    flex: 1; 
    color: black;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center; 
        margin: 0.625rem; 
    }

    .back {
        margin: 0.625rem;
        width: calc(100% - 2.5rem); 
    }

    .image {
        margin: 0;
        margin-bottom: 0.625rem; 
    }

    .text {
        margin: 0;
        text-align: center; 
    }
}

/** Article detail **/

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem; 
    padding: 1.25rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 0.5rem;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.detail h1 {
    text-align: center;
    padding: 0.9375rem; 
    color: black; 
}

.detail img {
    width: 100%; 
    max-width: 21.875rem; 
    height: auto; 
    margin: 0 auto; 
    display: block;
}

.detail p {
    font-size: 1.125rem; 
    color: black; 
    line-height: 1.6; 
    max-width: 50rem; 
    text-align: justify; 
}

/** Abonements **/

.abon h1{
    margin: 1.25rem; 
    padding-bottom: 1.25rem; 
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1.25rem; 
}

.grid-item {
    background-color: white;
    color: black;
    border-radius: 0.625rem;
    padding: 0.625rem; 
}

.ab-head {
    display: flex;
    align-items: center;
    border-bottom: 0.125rem solid black; 
}

.name {
    flex: 1;
}

.price {
    margin-left: 1.25rem; 
}

.price {
    background-color: black;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 0.625rem; 
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    width: 2.5rem; 
    height: 2.1875rem; 
}

.info {
    max-width: 100%; 
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem; 
    font-size: 1rem; 
    cursor: pointer;
    border-radius: 0.3125rem; 
    float: right;
}

button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .abon h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; 
    }

    .grid-container {
        grid-auto-flow: row; 
    }

    .grid-item {
        margin-bottom: 20px; 
    }

    .ab-head {
        flex-direction: column; 
        align-items: flex-start; 
        border-bottom: none; 
    }

    .price {
        margin-left: 0; 
    }

    button {
        float: none; 
        margin-top: 10px; 
        margin-left: auto; 
        margin-right: auto;
        display: block; 
    }
}
