body {
    background-color: #121212;
    color: white;
}

/* Header */

header {
    padding: 0.625rem; 
    border-bottom-style: inset;
}

header nav, span {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
    width: 100%;
}

nav div a {
    text-decoration: none;
    color: white;
    flex: auto;
    text-align: center;
}

nav div a:hover {
    color: #ff6600;
}

/* Footer */

footer {
    margin-top: 5rem; 
    margin-bottom: 3.125rem; 
    padding: 2.8125rem 0.9375rem; 
    border-top-style: inset;
}

footer li {
    color: #F0FFFF;
    padding: 1.25rem 0.625rem; 
    font-size: 0.9375rem;
}

#ul-logo {
    list-style: none;
    padding: 0;
}

#ul-logo li {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem; 
}

#ul-logo .f-image {
    margin-right: 0.625rem; 
    width: 3.125rem; 
}

#ul-logo .f-image img {
    max-width: 100%;
    height: auto;
}

#ul-logo .f-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.625rem; 
}