body {
    background-color: #121212;
    color: white;
}

/* Header */

header {
    padding: 0.625rem;
    border-bottom-style: inset;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-link span {
    margin-top: 0.25rem;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0 1rem; 
}

.menu a:hover {
    color: #ff6600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 3.5rem; 
        left: 0;
        background-color: black;
        padding: 1rem 0;
    }

    .menu.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .logo-container {
        justify-content: space-between;
        width: 100%;
    }

    .menu a {
        padding: 0.5rem 0;
        margin: 0; 
    }
}

/* Footer */

footer {
    margin-top: 5rem; 
    margin-bottom: 3.125rem; 
    padding: 2.8125rem 0.9375rem; 
    border-top-style: inset;
}

footer li {
    color: #F0FFFF;
    padding: 1.25rem 0.625rem; 
    font-size: 0.9375rem;
}

#ul-logo {
    list-style: none;
    padding: 0;
}

#ul-logo li {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem; 
}

#ul-logo .f-image {
    margin-right: 0.625rem; 
    width: 3.125rem; 
}

#ul-logo .f-image img {
    max-width: 100%;
    height: auto;
}

#ul-logo .f-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.625rem; 
}

@media (max-width: 768px) {
    footer {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem 0.5rem;
    }

    footer li {
        font-size: 0.875rem;
        padding: 0.75rem 0.5rem;
    }

    #ul-logo li {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }

    #ul-logo .f-image {
        margin-right: 0.625rem;
        margin-bottom: 0;
        width: auto;
    }

    #ul-logo .f-text {
        margin-left: 0;
        text-align: left;
    }
}