/* Mainpage */


/* Banner */

#banner {
    padding-top: 1rem;
}

#banner img {
    object-fit: cover;
}

/* Grid banners */

.box {
    background-color: white; 
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}

.g_container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 0,5fr; 
    gap: 10px 3px; 
    grid-template-areas: 
      "gym_zal group_workout personal_workout"
      "gym_actions gym_actions gym_actions"; 
  }

  .g_container span {
    color: black;
    padding: 10px;
    font-size: 18px;
  }

  .g_container a {
    text-decoration: none;
  }
  
.gym_zal { grid-area: gym_zal; }
.group_workout { grid-area: group_workout; }
.personal_workout { grid-area: personal_workout; }
.gym_actions { 
    grid-area: gym_actions;
    height: 18em;
 }

.gym_zal img,
.group_workout img,
.personal_workout img,
.gym_actions img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.g_container img:hover {
    filter: grayscale(100%) sepia(100%) brightness(80%) saturate(100%) hue-rotate(0deg);
}

/* Shedule Table */

.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1.5px solid #62626a;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table_component caption {
    caption-side: top;
    text-align: center;
    margin: 3rem;
}

.table_component th {
    border: 1.5px solid #62626a;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.table_component td {
    border: 1.5px solid #62626a;
    background-color: #383333;
    color: #ffffff;
    padding: 5px;
}

.table_component td h4 {
    color: #ff6600;
}

/* Discount and coach banner */

.discount, .coach {
    background-color: white;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dis_img img, .c_img img {
    max-width: 100%;
}

.dis_img {
    flex-basis: 40%;
}

.dis_text {
    font-size: 1.2rem;
    padding-left: 5.5rem;
    color: black;
}

.dis_text span {
    color:#ff6600;
    display: inline;
}

.dis_text ul {
    list-style-type: none;
}

.dis_text ul li {
    padding: 1rem;
}

/* Coach block */

.coach {
    background-color: black !important;
    margin-top: 0rem !important;
}

.c_text {
    color: white;
    font-size: 1.2rem;
}

.c_img {
    flex-basis: 20%;
    padding-left: 5.5rem;
}

.coach button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.coach .button:hover {
    background-color: white;
    color: black;
  }

  .coach .button:active {
    background-color: #ff6600;
  }

/* Review */

#slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }

 #slides .slide-content {
    text-align: center; 
    padding: 20px; 
}

.slide-content p {
    margin: 0; 
    font-size: 20px; 
    line-height: 1.5; 
}

 #overflow {
    width: 100%;
    overflow: hidden;
 }

 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }

 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
 }

 #controls label:hover {
    opacity: 1;
 }
 
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }

 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
    background: url("/static/gymsite/images/right-arrow.png") no-repeat;
    background-size: cover;
    right: 0; 
    display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
    background: url("/static/gymsite/images/left-arrow.png") no-repeat;
    background-size: cover;
    left: 0; 
    display: block;
}

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }